@import '../App/variables';

.tags-ul {
  margin: 0;
  padding: 0;
}

.tag {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  border-radius: 2px;
  color: $textColorSecondary;
  border: 1px solid $textColorSecondary;
  padding: 0 5px;
  background-color: $white;

  &--margin {
    margin: 4px 8px 4px 0;
  }
}