$white: #FFFFFF;

$headingColor: rgba(0,0,0,.85);
$textColor: rgba(0,0,0,.75);
$textColorSecondary: rgba(0,0,0,.5);
$successColor: #52C41A;

$formMainColor: #262626;
$formSecondaryColor: #BFBFBF;

$primaryColor: #1890FF;
$primaryColorDarker: #126ee6;
$errorColor: #F5222D;

$blueBackground: #ebeef3;
