@import '../App/variables';

.article {
  display: flex;
  justify-content: space-between;

  &__content {
    width: fit-content;
    max-width: 700px;
  }

  &__title {
    display: inline-block;
    color: $primaryColor;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 4px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__like {
    margin: 0 8px;
  }

  &__likes {
    color: $textColorSecondary;
  }

  &__description {
    color: $textColor;
    max-height: 45px;
    overflow-y: hidden;
  }

  &__author-info {
    width: fit-content;
  }

  &__author-name {
    display: inline-block;
    min-width: 100px;
    text-align: right;
  }

  &__created {
    text-align: right;
  }
}