@import '../App/variables';

.article {
  display: flex;
  justify-content: space-between;

  &__content {
    width: 700px;
  }

  &__title {
    display: inline-block;
    color: $primaryColor;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 4px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__img {
    margin: 0 12px 0 5px;
  }

  &__likes {
    color: $textColorSecondary;
  }

  &__description {
    color: $textColor;
  }

  &__author-info {
    width: fit-content;
  }

  &__author-name {
    display: inline-block;
    min-width: 100px;
    text-align: right;
  }

  &__author-img {
    float: right;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-left: 12px;
    object-fit: cover;
  }

  &__created {
    text-align: right;
  }
}